/* .App {} */

* {
  margin: 0;
  font-weight: 400;
  font-family: "Inter", sans-serif;
  color: white;
}

h2 {
  font-size: 1.5rem;
  font-weight: 500;
}

.Navbar {
  background-color: rgba(92, 97, 240, 1);
  color: white;
  padding: 1rem 3rem;
  font-size: 2rem;
  font-weight: 700;
}

.FlexColumn {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

.WorkloadContainer {
  background-color: rgb(20, 22, 27);
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-top: 5rem;
  height: calc(100vh - 9.375rem);
}

.WorkloadListContainer {
  /* border: 1px solid rgba(64, 67, 72, 1); */
  background-color: rgba(255, 255, 255, 0.05);
  border-radius: 4px;
  height: 60vh;
  overflow-y: scroll;
  min-width: 70vw;
  padding: 1rem;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  margin-top: 1rem;
}

.WorkloadList {
  width: 100%;
  padding: 0;
}

.Button {
  border: none;
  background-color: rgba(67, 56, 202, 1);
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  font-size: 1rem;
}

.WorkloadItem {
  border: 1px solid rgba(64, 67, 72, 1);
  background-color: rgba(255, 255, 255, 0.05);
  border-radius: 8px;
  margin-bottom: 1rem;
  padding: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.WorkloadItem-timeAgo {
  font-size: 0.75rem !important;
  font-style: italic;
  margin-right: 1rem;
}

.WorkloadItem-heading {
  font-size: 1.25rem;
  font-weight: 600;
}

.WorkloadItem-subHeading {
  font-size: 0.875rem;
  margin-top: 1.125rem;
}

.WorkloadItem-statusText {
  text-transform: capitalize;
}
